<div class="col-md-10 col-xs-9">
    <div class="panel">
        <div class="panel-heading">
            <div class="row">
                <h3 class="panel-title col-md-4 col-xs-12">次属团队（{{nextLeader.userName}}领导）</h3>
                <ol class="breadcrumb col-md-8 col-xs-12 text-right">
                    <li>我的团队</li>
                    <li><a href="/myteam/">直属团队</a></li>
                    <li>次属团队（{{nextLeader.userName}}领导）</li>
                </ol>
            </div>
        </div>
        <div class="panel-body">
			<!-- search bar -->
            <form class="input-group input-group-sm col-md-4 col-md-offset-8 col-xs-12" method="get" action="/myteam/{{nextLeader.profileNo}}/subjections/">
                <input type="text" name="subjectionUserName" class="form-control" placeholder="用户名">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>手机号码</th>
                            <th>会员等级</th>
                            <th>注册时间</th>
                            <th>子成员</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each members}}
                        <tr>
                            <td>{{userName}}</td>
                            <td>{{mobile}}</td>
                            <td>
                            <span class="label 
                                {{#compare level 2}}
                                    label-info
                                {{/compare}}
                                
                                {{#compare level 1}}
                                    label-warning
                                {{/compare}}

                                {{#compare level 0}}
                                    label-danger
                                {{/compare}}
                            ">
                            {{levelName}} (¥{{levelPrice}})
                            </td>
                            <td>{{registerTime}}</td>
                            <td>
                                <a href="/myteam/{{profileNo}}/third-subjections">查看</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                {{#pagination page.totalPages page.pageNumber path}}
                {{/pagination}}
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>